POSTGRES_USER=ytasty
POSTGRES_PASSWORD=y_password
POSTGRES_DB=ytasty

DATABASE_URL=postgresql+psycopg://ytasty:y_password@db:5432/ytasty

JWT_SECRET_KEY=une_cle_secrete_longue
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60